:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--very-light-gray);
  /* background-color: #ccc; */
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  padding: 2rem 2rem;
  margin: 0 auto;
}

.intro h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}

h1,
h2 {
  color: var(--very-dark-blue);
}

.intro {
  text-align: center;
}
.intro span {
  display: block;
  font-weight: 200;
}

p {
  color: var(--grayish-blue);
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 55ch;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 2rem;
  align-items: center;
}

li {
  max-width: 350px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 1px 2px 10px var(--grayish-blue);
  place-self: center;
}

li:hover{
  position: relative;
  margin-top: -3px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: .4s;
}

.grid__item1 {
  border-top: 6px solid var(--cyan);
  grid-row: 1/-1;
}
.grid__item2 {
  border-top: 6px solid var(--red);
}
.grid__item3 {
  border-top: 6px solid var(--orange);
}
.grid__item4 {
  border-top: 6px solid var(--blue);
  grid-column: 3;
  grid-row: 1/-1;
}

li h2 {
  margin-bottom: 1rem;
}

li p {
  font-size: 0.9rem;
}

li img {
  margin-left: auto;
}

@media (max-width: 1050px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid__item1,
  .grid__item4 {
    grid-column: initial;
    grid-row: initial;
  }
}

@media (max-width: 750px) {
  .grid{
    grid-template-columns: 1fr;
  }
}